# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
venv-win/
env/
*.env/

# IDEs
.idea/
.vscode/

# Environment variables
.env

# Compiled Python files
*.pyc

# Logs and temporary files
*.log
*.swp
*.tmp

# Dependency directories
lib/
libs/

#testing-stuff
tester.py
detected-tracks.json